%section#our-works
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Works
        %p.extra
          We are a team of marketers, designers and developers.
          Clients hire us to develop their web and mobile apps.
          We sketch, prototype, make and ship working software.
          After shipping software, we measure and maintain
          use of software. See some examples below.
        %p
          = link_to 'https://www.github.com/lab2023/playbook', target: '_blank' do
            Read more in our playbook
            %i.fa.fa-arrow-circle-right

%section#our-works
  .contents-alternate
    .container.contents
      .work-item
        .row
          .col-lg-12
            .swiper-container
              .swiper-wrapper
                - ['trackerr','k4english','hizli-ceviri','restaurant','ervepro','eatle','driver'].each do |item|
                  .swiper-slide.carousel-item.text-center
                    %h3
                      =lorem.words(5)
                    %p
                      =lorem.sentences(4)
                    %p
                      = link_to '#', target: '_blank' do
                        Visit project
                        %i.fa.fa-arrow-circle-right                    
                    = image_tag "works/#{item}.png", class: 'img-responsive'    
              .swiper-button-next.hidden-sm
              .swiper-button-prev.hidden-sm
            .swiper-pagination

%section#our-team
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Team
        %p.extra
          lab2023 was founded in 2010.
          We care about quality, craft, and disciplined experimentation.
          %br/
          We are active contributors to open source software.
        %p
          = link_to 'https://github.com/lab2023', target: '_blank' do
            Use our open source software
            %i.fa.fa-arrow-circle-right

    .row
      .col-lg-10.col-lg-offset-1
        %ul.team-members
          - data.team.members.each do |team_member|
            %li{ data: {toggle: :popover, placement: :top} }
              = link_to "http://www.twitter.com/#{team_member[1][:twitter]}", target: '_blank' do
                .image-filter
                = image_tag "team/#{team_member[1][:profile_picture]}", class: 'img-circle'
              .member-info.popover-content
                %h4.title= team_member[1][:title]
                %p.content
                  = team_member[1][:info]

        %p.extra
          = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
            %strong Want to join our team?
            Click here to apply
        %p.extra
          %strong Current Open Job Position
          %br/
          = link_to 'web-gelistiricisi-is-ilani.html', target: '_blank'  do
            Web Geliştiricisi İş İlanı


%section#contact-us.contents-alternate
  .container.contents
    %h1 Contact Us
    %h4 Lab2023 Information Technologies Corp.
    %address
      Pamukkale Teknokent D-Block 116-117 Denizli / TURKEY
      %br/
      = mail_to 'hello@lab2023.com', 'hello@lab2023.com', subject: 'Hello Lab2023'
      |
      %a{href: 'tel:+908508850522'}+90 850 885 0 522
      %br/
      = link_to "https://www.google.com/maps/place/37°44'19.7%22N+29°05'35.2%22E/@37.7386245,29.0928367,357m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", target: '_blank' do
        %i.fa.fa-map-marker
        37.7386245, 29.0928367


    %ul.social
      %li{'data-toggle' => 'tooltip', title: 'GitHub'}
        = link_to 'https://github.com/lab2023', target: '_blank' do
          %i.fa.fa-github.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Dribbble'}
        = link_to 'https://dribbble.com/lab2023', target: '_blank' do
          %i.fa.fa-dribbble.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Twitter'}
        = link_to 'https://twitter.com/lab2023', target: '_blank' do
          %i.fa.fa-twitter.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Facebook'}
        = link_to 'https://www.facebook.com/lab2023', target: '_blank' do
          %i.fa.fa-facebook.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Flickr'}
        = link_to 'https://www.flickr.com/photos/122188945@N05', target: '_blank' do
          %i.fa.fa-flickr.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'YouTube'}
        = link_to 'http://www.youtube.com/user/thelab2023', target: '_blank' do
          %i.fa.fa-youtube-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Vimeo'}
        = link_to 'http://www.vimeo.com/lab2023', target: '_blank' do
          %i.fa.fa-vimeo-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'RSS'}
        = link_to 'http://lab2023.com/feed.xml', target: '_blank' do
          %i.fa.fa-rss.fa-3x
    %p.extra
      = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
        %strong Want us to work for you?
        Click here to hire us
