%section#our-works
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Works
        %p.extra
          We are a team of marketers, designers and developers.
          Clients hire us to develop their web and mobile apps.
          We sketch, prototype, make and ship working software.
          After shipping software, we measure and maintain
          use of software. See some examples below.
        %p
          = link_to 'https://www.github.com/lab2023/playbook', target: '_blank' do
            Read more in our playbook
            %i.fa.fa-arrow-circle-right

  .contents-alternate
    .container.contents
      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Bulutfon Telecommunications Corp.
            %p
              Bulutfon is internet based phone provider which authorized by public authority.
              Our services are voip calls, ip pbx, ivr, voice mail, fax, voice recording and development tools
              for developers (API, SDK). All software infrastructure of Bulutfon is developed by Lab2023.
            %p
              = link_to 'https://www.bulutfon.com/?ref=1', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-10.col-lg-offset-1
            = link_to 'https://www.bulutfon.com/?ref=1', target: '_blank' do
              = image_tag 'works/bulutfon.png', class: 'img-responsive'

      %hr.divider/

      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Diagnoscope Symptom Checker Apps
            %p
              Diagnoscope is a symptom checker application. It analyzes the symptoms that you selected,
              compares them with those of any known disease, informs you about your health status and
              directs you to the appropriate specialist. We develop web, iPhone, iPad apps for end
              users and admin panel for admins.
            %p
              = link_to 'http://www.diagnoscope.com/', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-8.col-lg-offset-2
            = link_to 'http://www.diagnoscope.com/', target: '_blank' do
              = image_tag 'works/diagnoscope.png', class: 'img-responsive'

      %hr.divider/

      %div.work-item
        .row
          .col-lg-8.col-lg-offset-2
            %h3 Aydede - Your Gateway to Global Innovation in Merchandising
            %p
              Aydede's aim to help brands create the personal relationships they need
              with their customers via unique designs that deliver
              emotionally satisfying consumer experience.
              %br/
              We have redesigned their logo and website.

            %p
              = link_to 'http://www.aydede.com/', target: '_blank' do
                Visit project
                %i.fa.fa-arrow-circle-right
        .row
          .col-lg-8.col-lg-offset-2
            = link_to 'http://www.aydede.com/', target: '_blank' do
              = image_tag 'works/aydede.png', class: 'img-responsive'

            %p.extra
              = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
                %strong Want us to work for you?
                Click here to hire us

%section#our-team
  .container.contents
    .row
      .col-lg-8.col-lg-offset-2
        %h1.title Our Team
        %p.extra
          lab2023 was founded in 2010.
          We care about quality, craft, and disciplined experimentation.
          %br/
          We are active contributors to open source software.
        %p
          = link_to 'https://github.com/lab2023', target: '_blank' do
            Use our open source software
            %i.fa.fa-arrow-circle-right

    .row
      .col-lg-10.col-lg-offset-1
        %ul.team-members
          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/onurozgurozkan', target: '_blank' do
              .image-filter
              = image_tag 'team/onur-ozgur-ozkan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Onur Ozgur OZKAN | Co-founder
              %p.content
                I graduated in economics. I am the creator of Kebab Project, co-founder & CEO at Lab2023 and Bulutfon,
                public speaker, open source developer.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/toziserikan', target: '_blank' do
              .image-filter
              = image_tag 'team/tayfun-ozis-erikan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Tayfun Ozis ERIKAN | Co-founder &amp; CEO
              %p.content
                Web Developer, Graphic & Web Designer
                Ruby, Ruby on Rails, Php, Zend Framework, CodeIgniter, Doctrine,
                Ext JS & Sencha Touch, Sass, Compass User
                Kebab Project Developer, GitHub User, Blogger, A Public Speaker
                The Co-Founder of Lab2023 Information Technologies Inc.
                and Bulutfon Telecommunication Inc.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/Sevliya', target: '_blank' do
              .image-filter
              = image_tag 'team/serdar-yagci.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Serdar YAGCI | Web - Mobile Developer
              %p.content
                He knows PHP, Objective - C and Javascript Frameworks. He is photographer and traveler.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/isoakbudak', target: '_blank' do
              .image-filter
              = image_tag 'team/ismail-akbudak.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Ismail AKBUDAK | Web - Mobile Developer
              %p.content
                Software Developer, PHP, CodeIgniter, Ruby On Rails, JavaScript, JQuery, Founder Of Hepgezelim. I love to use Ubuntu, to follow new technologies and electronics.

          -#%li{ data: {toggle: :popover, placement: :top} }
          -#  = link_to 'http://www.twitter.com/leylakapi', target: '_blank' do
          -#    .image-filter
          -#    = image_tag 'team/leyla-kapi.jpg', class: 'img-circle'
          -#  .member-info.popover-content
          -#    %h4.title Leyla KAPI | Web Developer
          -#    %p.content
          -#      She likes to use front-end technologies like  HTML5, CSS3, Haml, Sass, Javascript. She interested in Ruby, Ruby on Rails.
          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/fadimezhan', target: '_blank' do
              .image-filter
              = image_tag 'team/fadime-ozhan.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Fadime OZHAN | Intern
              %p.content
                I'am interested in web technologies, mostly back-end. Also interested in Ruby, Ruby on Rails and Linux.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'http://www.twitter.com/klapancg', target: '_blank' do
              .image-filter
              = image_tag 'team/clara-isabel-pantoja.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Clara Isabel PANTOJA MUÑOZ | Graphic Designer
              %p.content
                Creative and proactive person of graphic communication design and emphasis in multimedia design.
                Interested in interactive design and information technology projects. Has great motivation for photography,
                visual effects and web design. Likes music, museums and the integration of art and technology in her work.

          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/kamilagareeva1', target: '_blank' do
              .image-filter
              = image_tag 'team/kamila-gareeva.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Kamila GAREEVA | Graphic Designer
              %p.content
                Artist, 2D animator, graphic - designer
          -#%li{ data: {toggle: :popover, placement: :top} }
          -#  = link_to 'http://www.twitter.com/marjinal1st', target: '_blank' do
          -#    .image-filter
          -#    = image_tag 'team/ahmet-sezgin-duran.jpg', class: 'img-circle'
          -#  .member-info.popover-content
          -#    %h4.title Ahmet Sezgin DURAN | Web Developer | Intern
          -#    %p.content
          -#      Web Developer. Interested in high-level programming languages such as Ruby, Python and Java. Supports
          -#      free software and uses GNU/Linux. Likes back-end coding and developing-playing indie games.
          -#      Fan of Nintendo and Valve games and a true Otaku.
          %li{ data: {toggle: :popover, placement: :top} }
            = link_to 'https://twitter.com/olcay_yaclo', target: '_blank' do
              .image-filter
              = image_tag 'team/olcay-oransoy.jpg', class: 'img-circle'
            .member-info.popover-content
              %h4.title Olcay ORANSOY | Intern
              %p.content
                Olcay is probably the youngest Ruby on Rails developer in the country.
                He is our youngest intern. He started to use computer at the age of 3.
                He works hard on developing his skills on every aspects of web development.
                But his main area of interest is backend systems.
                He is a Hot Wheels collectionner and one of the biggest Top Gear fans.

        %p.extra
          = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
            %strong Want to join our team?
            Click here to apply


%section#contact-us.contents-alternate
  .container.contents
    %h1 Contact Us
    %h4 Lab2023 Information Technologies Corp.
    %address
      Pamukkale Teknokent D-Block 116 Denizli / TURKEY
      %br/
      hello@lab2023.com | +90 850 885 0 522
      %br/
      = link_to "https://www.google.com/maps/place/37°44'19.7%22N+29°05'35.2%22E/@37.7386245,29.0928367,357m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0", target: '_blank' do
        %i.fa.fa-map-marker
        37.7386245, 29.0928367


    %ul.social
      %li{'data-toggle' => 'tooltip', title: 'GitHub'}
        = link_to 'https://github.com/lab2023', target: '_blank' do
          %i.fa.fa-github.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Dribbble'}
        = link_to 'https://dribbble.com/lab2023', target: '_blank' do
          %i.fa.fa-dribbble.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Twitter'}
        = link_to 'https://twitter.com/lab2023', target: '_blank' do
          %i.fa.fa-twitter.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Facebook'}
        = link_to 'https://www.facebook.com/lab2023', target: '_blank' do
          %i.fa.fa-facebook.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Flickr'}
        = link_to 'https://www.flickr.com/photos/122188945@N05', target: '_blank' do
          %i.fa.fa-flickr.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'YouTube'}
        = link_to 'http://www.youtube.com/user/thelab2023', target: '_blank' do
          %i.fa.fa-youtube-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'Vimeo'}
        = link_to 'http://www.vimeo.com/lab2023', target: '_blank' do
          %i.fa.fa-vimeo-square.fa-3x
      %li{'data-toggle' => 'tooltip', title: 'RSS'}
        = link_to 'http://lab2023.com/feed.xml', target: '_blank' do
          %i.fa.fa-rss.fa-3x
    %p.extra
      = link_to 'mailto:hello@lab2023.com', class: 'btn btn-primary big-buttons' do
        %strong Want us to work for you?
        Click here to hire us
